## remove o arquivo usado para push que contém o token
# Ignora absolutamente TUDO na pasta
*

# Permite que o Git rastreie pastas específicas
!/icons/
!/sevenzip/
!/wget/
!/scripts/

# Permite arquivos específicos
!.gitattributes
!.gitignore
!README.md
!start.bat
!settings.json


